<a href="https://colab.research.google.com/github/rushikeshburle/Big-Data-Specialization/blob/main/BigDataSpecializationFeb24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# step 1: install pyspark
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 4.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425345 sha256=3fd12621e54cd451a7a67407965eff6a9e1fb8316a990be4cf0913c4fddb212b
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [ ]:
# step 2: import library and pyspark
import pyspark
import pandas as pd

In [ ]:
# check version
pyspark.__version__

'3.5.0'

In [ ]:
# step 3: create spark context
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.getOrCreate()

In [ ]:
# step 4: read data set
df = pd.read_csv('https://github.com/YBIFoundation/Dataset/raw/main/Boston.csv')

In [ ]:
# convert pandas dataframe as spark dataframe
sdf = spark.createDataFrame(df)

In [ ]:
# step 5: explore

In [ ]:
sdf.show()

In [ ]:
sdf.dtypes

In [ ]:
sdf.describe().show()

In [ ]:
# step 6: define feature vector (X) and y
print(sdf.columns)

['CRIM', 'ZN', 'INDUS', 'CHAS', 'NX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT', 'MEDV']

In [ ]:
from pyspark.ml.feature import VectorAssembler

In [ ]:
va = VectorAssembler(inputCols=['CRIM', 'ZN', 'INDUS', 'CHAS', 'NX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT'],
                outputCol = 'X')

In [ ]:
va.transform(sdf).select('MEDV','X').show()

In [ ]:
data = va.transform(sdf).select('MEDV','X')

In [ ]:
data.show()

In [ ]:
# step 7: select model
from pyspark.ml.regression import LinearRegression

In [ ]:
reg = LinearRegression(featuresCol='X', labelCol='MEDV')

In [ ]:
estimator = reg.fit(data)

In [ ]:
estimator.coefficients

DenseVector([-0.108, 0.0464, 0.0206, 2.6867, -17.7666, 3.8099, 0.0007, -1.4756, 0.306, -0.0123, -0.9527, 0.0093, -0.5248])

In [ ]:
estimator.intercept

36.45948838507888

In [ ]:
lr_model.summary

# **Linear Regression using Pandas in PySpark**

In [ ]:
# step 1: install pyspark
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 4.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425345 sha256=cb14faa890fe55bd5ece5c51a4595f7f733d70ca335a566b974d4c283ba6f939
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [ ]:
# step 2: import library and pyspark
import pandas as pd
import pyspark

In [ ]:
# step 3: create spark context (session)
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.getOrCreate()

In [ ]:
sdf = spark.read.csv('/content/EcommerceCustomer.csv',header=True,inferSchema=True)

In [ ]:
sdf.show()

+---------+----------------+---------+-------------+------------------+-----------------+
|CustomeID|AvgSessionLength|TimeOnApp|TimeOnWebsite|LengthOfMembership|YearlyAmountSpent|
+---------+----------------+---------+-------------+------------------+-----------------+
|        1|            34.5|    12.66|        39.58|              4.08|           587.95|
|        2|           31.93|    11.11|        37.27|              2.66|            392.2|
|        3|            33.0|    11.33|        37.11|               4.1|           487.55|
|        4|           34.31|    13.72|        36.72|              3.12|           581.85|
|        5|           33.33|     12.8|        37.54|              4.45|           599.41|
|        6|           33.87|    12.03|        34.48|              5.49|            637.1|
|        7|           32.02|    11.37|        36.68|              4.69|           521.57|
|        8|           32.74|    12.35|        37.37|              4.43|            549.9|
|        9|           33.99|    13.39|        37.53|              3.27|            570.2|
|       10|           31.94|    11.81|        37.15|               3.2|            427.2|
|       11|           33.99|    13.34|        37.23|              2.48|           492.61|
|       12|           33.88|    11.58|        37.09|              3.71|           522.34|
|       13|           29.53|    10.96|        37.42|              4.05|           408.64|
|       14|           33.19|    12.96|        36.14|              3.92|           573.42|
|       15|           32.39|    13.15|        36.62|              2.49|           470.45|
|       16|           30.74|    12.64|        36.21|              3.36|           461.78|
|       17|           32.13|    11.73|        34.89|              3.14|           457.85|
|       18|           32.34|    12.01|        38.39|              2.42|            407.7|
|       19|           32.19|    14.72|        38.24|              1.52|           452.32|
|       20|           32.62|    13.99|        37.19|              4.06|           605.06|
+---------+----------------+---------+-------------+------------------+-----------------+
only showing top 20 rows

In [ ]:
sdf.dtypes

[('CustomeID', 'int'),
 ('AvgSessionLength', 'double'),
 ('TimeOnApp', 'double'),
 ('TimeOnWebsite', 'double'),
 ('LengthOfMembership', 'double'),
 ('YearlyAmountSpent', 'double')]

In [ ]:
import pyspark.pandas as ppd

/usr/local/lib/python3.10/dist-packages/pyspark/pandas/__init__.py:50: UserWarning: 'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.
  warnings.warn(

In [ ]:
psdf = sdf.pandas_api()

In [ ]:
psdf.head()

   CustomeID  AvgSessionLength  TimeOnApp  TimeOnWebsite  LengthOfMembership  YearlyAmountSpent
0          1             34.50      12.66          39.58                4.08             587.95
1          2             31.93      11.11          37.27                2.66             392.20
2          3             33.00      11.33          37.11                4.10             487.55
3          4             34.31      13.72          36.72                3.12             581.85
4          5             33.33      12.80          37.54                4.45             599.41

In [ ]:
psdf.info()

<class 'pyspark.pandas.frame.DataFrame'>
Int64Index: 500 entries, 0 to 499
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CustomeID           500 non-null    int32
 1   AvgSessionLength    500 non-null    float64
 2   TimeOnApp           500 non-null    float64
 3   TimeOnWebsite       500 non-null    float64
 4   LengthOfMembership  500 non-null    float64
 5   YearlyAmountSpent   500 non-null    float64
dtypes: float64(5), int32(1)

In [ ]:
sdf = psdf.to_spark(index_col = 'index')

In [ ]:
sdf.show()

+-----+---------+----------------+---------+-------------+------------------+-----------------+
|index|CustomeID|AvgSessionLength|TimeOnApp|TimeOnWebsite|LengthOfMembership|YearlyAmountSpent|
+-----+---------+----------------+---------+-------------+------------------+-----------------+
|    0|        1|            34.5|    12.66|        39.58|              4.08|           587.95|
|    1|        2|           31.93|    11.11|        37.27|              2.66|            392.2|
|    2|        3|            33.0|    11.33|        37.11|               4.1|           487.55|
|    3|        4|           34.31|    13.72|        36.72|              3.12|           581.85|
|    4|        5|           33.33|     12.8|        37.54|              4.45|           599.41|
|    5|        6|           33.87|    12.03|        34.48|              5.49|            637.1|
|    6|        7|           32.02|    11.37|        36.68|              4.69|           521.57|
|    7|        8|           32.74|    12.35|        37.37|              4.43|            549.9|
|    8|        9|           33.99|    13.39|        37.53|              3.27|            570.2|
|    9|       10|           31.94|    11.81|        37.15|               3.2|            427.2|
|   10|       11|           33.99|    13.34|        37.23|              2.48|           492.61|
|   11|       12|           33.88|    11.58|        37.09|              3.71|           522.34|
|   12|       13|           29.53|    10.96|        37.42|              4.05|           408.64|
|   13|       14|           33.19|    12.96|        36.14|              3.92|           573.42|
|   14|       15|           32.39|    13.15|        36.62|              2.49|           470.45|
|   15|       16|           30.74|    12.64|        36.21|              3.36|           461.78|
|   16|       17|           32.13|    11.73|        34.89|              3.14|           457.85|
|   17|       18|           32.34|    12.01|        38.39|              2.42|            407.7|
|   18|       19|           32.19|    14.72|        38.24|              1.52|           452.32|
|   19|       20|           32.62|    13.99|        37.19|              4.06|           605.06|
+-----+---------+----------------+---------+-------------+------------------+-----------------+
only showing top 20 rows

In [ ]:
from pyspark.ml.feature import VectorAssembler

In [ ]:
print(sdf.columns)

['index', 'CustomeID', 'AvgSessionLength', 'TimeOnApp', 'TimeOnWebsite', 'LengthOfMembership', 'YearlyAmountSpent']

In [ ]:
vc = VectorAssembler(inputCols=['AvgSessionLength',
 'TimeOnApp',
 'TimeOnWebsite',
 'LengthOfMembership'], outputCol='X')

In [ ]:
data = vc.transform(sdf)

In [ ]:
# split
train, test = data.randomSplit([0.7,0.3],seed = 2529)

In [ ]:
train.show()

+-----+---------+----------------+---------+-------------+------------------+-----------------+--------------------+
|index|CustomeID|AvgSessionLength|TimeOnApp|TimeOnWebsite|LengthOfMembership|YearlyAmountSpent|                   X|
+-----+---------+----------------+---------+-------------+------------------+-----------------+--------------------+
|    0|        1|            34.5|    12.66|        39.58|              4.08|           587.95|[34.5,12.66,39.58...|
|    1|        2|           31.93|    11.11|        37.27|              2.66|            392.2|[31.93,11.11,37.2...|
|    3|        4|           34.31|    13.72|        36.72|              3.12|           581.85|[34.31,13.72,36.7...|
|    4|        5|           33.33|     12.8|        37.54|              4.45|           599.41|[33.33,12.8,37.54...|
|    6|        7|           32.02|    11.37|        36.68|              4.69|           521.57|[32.02,11.37,36.6...|
|    7|        8|           32.74|    12.35|        37.37|              4.43|            549.9|[32.74,12.35,37.3...|
|   10|       11|           33.99|    13.34|        37.23|              2.48|           492.61|[33.99,13.34,37.2...|
|   11|       12|           33.88|    11.58|        37.09|              3.71|           522.34|[33.88,11.58,37.0...|
|   12|       13|           29.53|    10.96|        37.42|              4.05|           408.64|[29.53,10.96,37.4...|
|   14|       15|           32.39|    13.15|        36.62|              2.49|           470.45|[32.39,13.15,36.6...|
|   16|       17|           32.13|    11.73|        34.89|              3.14|           457.85|[32.13,11.73,34.8...|
|   17|       18|           32.34|    12.01|        38.39|              2.42|            407.7|[32.34,12.01,38.3...|
|   20|       21|           32.91|    11.37|        37.61|               4.6|           534.71|[32.91,11.37,37.6...|
|   21|       22|            33.5|    12.88|        37.44|              1.56|           419.94|[33.5,12.88,37.44...|
|   23|       24|            32.9|    11.66|        36.77|              3.92|           519.34|[32.9,11.66,36.77...|
|   24|       25|           34.51|    12.89|        37.64|              5.71|           700.92|[34.51,12.89,37.6...|
|   28|       29|           33.11|    11.98|        35.29|              3.92|           529.54|[33.11,11.98,35.2...|
|   29|       30|           33.11|    11.97|        37.28|              4.74|           554.72|[33.11,11.97,37.2...|
|   30|       31|           33.24|    12.31|        36.16|              3.06|           497.59|[33.24,12.31,36.1...|
|   31|       32|           33.46|    10.87|        35.62|              3.47|           447.69|[33.46,10.87,35.6...|
+-----+---------+----------------+---------+-------------+------------------+-----------------+--------------------+
only showing top 20 rows

In [ ]:
# select model
from pyspark.ml.regression import LinearRegression

In [ ]:
lr = LinearRegression(featuresCol='X', labelCol='YearlyAmountSpent')

In [ ]:
result = lr.fit(train)

In [ ]:
result.coefficients, result.intercept

(DenseVector([25.4728, 38.2689, 0.3987, 61.191]), -1034.9099742608726)

In [ ]:
result.summary.rootMeanSquaredError

9.718752822009698

# **Missing Value**

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 4.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425345 sha256=5234ed22f5440950397a2081652bc02988baba4647098fb5a62666b7b486c036
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [ ]:
import pyspark

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.getOrCreate()

In [ ]:
sdf = spark.read.csv('/content/Titanic.csv',header=True,inferSchema=True)

In [ ]:
sdf.show()

+------+--------+--------------------+------+----+-----+-----+--------+--------+-------+--------+----+----+--------------------+
|pclass|survived|                name|   sex| age|sibsp|parch|  ticket|    fare|  cabin|embarked|boat|body|           home.dest|
+------+--------+--------------------+------+----+-----+-----+--------+--------+-------+--------+----+----+--------------------+
|     1|       1|Allen, Miss. Elis...|female|29.0|    0|    0|   24160|211.3375|     B5|       S|   2|NULL|        St Louis, MO|
|     1|       1|Allison, Master. ...|  male|0.92|    1|    2|  113781|  151.55|C22 C26|       S|  11|NULL|Montreal, PQ / Ch...|
|     1|       0|Allison, Miss. He...|female| 2.0|    1|    2|  113781|  151.55|C22 C26|       S|NULL|NULL|Montreal, PQ / Ch...|
|     1|       0|Allison, Mr. Huds...|  male|30.0|    1|    2|  113781|  151.55|C22 C26|       S|NULL| 135|Montreal, PQ / Ch...|
|     1|       0|Allison, Mrs. Hud...|female|25.0|    1|    2|  113781|  151.55|C22 C26|       S|NULL|NULL|Montreal, PQ / Ch...|
|     1|       1| Anderson, Mr. Harry|  male|48.0|    0|    0|   19952|   26.55|    E12|       S|   3|NULL|        New York, NY|
|     1|       1|Andrews, Miss. Ko...|female|63.0|    1|    0|   13502| 77.9583|     D7|       S|  10|NULL|          Hudson, NY|
|     1|       0|Andrews, Mr. Thom...|  male|39.0|    0|    0|  112050|     0.0|    A36|       S|NULL|NULL|         Belfast, NI|
|     1|       1|Appleton, Mrs. Ed...|female|53.0|    2|    0|   11769| 51.4792|   C101|       S|   D|NULL| Bayside, Queens, NY|
|     1|       0|Artagaveytia, Mr....|  male|71.0|    0|    0|PC 17609| 49.5042|   NULL|       C|NULL|  22| Montevideo, Uruguay|
|     1|       0|Astor, Col. John ...|  male|47.0|    1|    0|PC 17757| 227.525|C62 C64|       C|NULL| 124|        New York, NY|
|     1|       1|Astor, Mrs. John ...|female|18.0|    1|    0|PC 17757| 227.525|C62 C64|       C|   4|NULL|        New York, NY|
|     1|       1|Aubart, Mme. Leon...|female|24.0|    0|    0|PC 17477|    69.3|    B35|       C|   9|NULL|       Paris, France|
|     1|       1|"Barber, Miss. El...|female|26.0|    0|    0|   19877|   78.85|   NULL|       S|   6|NULL|                NULL|
|     1|       1|Barkworth, Mr. Al...|  male|80.0|    0|    0|   27042|    30.0|    A23|       S|   B|NULL|       Hessle, Yorks|
|     1|       0| Baumann, Mr. John D|  male|NULL|    0|    0|PC 17318|  25.925|   NULL|       S|NULL|NULL|        New York, NY|
|     1|       0|Baxter, Mr. Quigg...|  male|24.0|    0|    1|PC 17558|247.5208|B58 B60|       C|NULL|NULL|        Montreal, PQ|
|     1|       1|Baxter, Mrs. Jame...|female|50.0|    0|    1|PC 17558|247.5208|B58 B60|       C|   6|NULL|        Montreal, PQ|
|     1|       1|Bazzani, Miss. Al...|female|32.0|    0|    0|   11813| 76.2917|    D15|       C|   8|NULL|                NULL|
|     1|       0|Beattie, Mr. Thomson|  male|36.0|    0|    0|   13050| 75.2417|     C6|       C|   A|NULL|        Winnipeg, MN|
+------+--------+--------------------+------+----+-----+-----+--------+--------+-------+--------+----+----+--------------------+
only showing top 20 rows

In [ ]:
sdf.printSchema()

root
 |-- pclass: integer (nullable = true)
 |-- survived: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- sex: string (nullable = true)
 |-- age: double (nullable = true)
 |-- sibsp: integer (nullable = true)
 |-- parch: integer (nullable = true)
 |-- ticket: string (nullable = true)
 |-- fare: double (nullable = true)
 |-- cabin: string (nullable = true)
 |-- embarked: string (nullable = true)
 |-- boat: string (nullable = true)
 |-- body: integer (nullable = true)
 |-- home.dest: string (nullable = true)

In [ ]:
sdf.dtypes

[('pclass', 'int'),
 ('survived', 'int'),
 ('name', 'string'),
 ('sex', 'string'),
 ('age', 'double'),
 ('sibsp', 'int'),
 ('parch', 'int'),
 ('ticket', 'string'),
 ('fare', 'double'),
 ('cabin', 'string'),
 ('embarked', 'string'),
 ('boat', 'string'),
 ('body', 'int'),
 ('home.dest', 'string')]

In [ ]:
# use pandas api in pyspark
import pandas as pd
import pyspark.pandas as ppd

/usr/local/lib/python3.10/dist-packages/pyspark/pandas/__init__.py:50: UserWarning: 'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.
  warnings.warn(

In [ ]:
sdf.head(2)

[Row(pclass=1, survived=1, name='Allen, Miss. Elisabeth Walton', sex='female', age=29.0, sibsp=0, parch=0, ticket='24160', fare=211.3375, cabin='B5', embarked='S', boat='2', body=None, home.dest='St Louis, MO'),
 Row(pclass=1, survived=1, name='Allison, Master. Hudson Trevor', sex='male', age=0.92, sibsp=1, parch=2, ticket='113781', fare=151.55, cabin='C22 C26', embarked='S', boat='11', body=None, home.dest='Montreal, PQ / Chesterville, ON')]

In [ ]:
sdf.info()

AttributeError: 'DataFrame' object has no attribute 'info'

In [ ]:
psdf = sdf.pandas_api()

In [ ]:
psdf.head(2)

In [ ]:
psdf.info()

In [ ]:
psdf.isna().sum()

In [ ]:
sdf = psdf.to_spark(index_col='index')

In [ ]:
sdf.show()

+-----+------+--------+--------------------+------+----+-----+-----+--------+--------+-------+--------+----+----+--------------------+
|index|pclass|survived|                name|   sex| age|sibsp|parch|  ticket|    fare|  cabin|embarked|boat|body|           home.dest|
+-----+------+--------+--------------------+------+----+-----+-----+--------+--------+-------+--------+----+----+--------------------+
|    0|     1|       1|Allen, Miss. Elis...|female|29.0|    0|    0|   24160|211.3375|     B5|       S|   2|NULL|        St Louis, MO|
|    1|     1|       1|Allison, Master. ...|  male|0.92|    1|    2|  113781|  151.55|C22 C26|       S|  11|NULL|Montreal, PQ / Ch...|
|    2|     1|       0|Allison, Miss. He...|female| 2.0|    1|    2|  113781|  151.55|C22 C26|       S|NULL|NULL|Montreal, PQ / Ch...|
|    3|     1|       0|Allison, Mr. Huds...|  male|30.0|    1|    2|  113781|  151.55|C22 C26|       S|NULL| 135|Montreal, PQ / Ch...|
|    4|     1|       0|Allison, Mrs. Hud...|female|25.0|    1|    2|  113781|  151.55|C22 C26|       S|NULL|NULL|Montreal, PQ / Ch...|
|    5|     1|       1| Anderson, Mr. Harry|  male|48.0|    0|    0|   19952|   26.55|    E12|       S|   3|NULL|        New York, NY|
|    6|     1|       1|Andrews, Miss. Ko...|female|63.0|    1|    0|   13502| 77.9583|     D7|       S|  10|NULL|          Hudson, NY|
|    7|     1|       0|Andrews, Mr. Thom...|  male|39.0|    0|    0|  112050|     0.0|    A36|       S|NULL|NULL|         Belfast, NI|
|    8|     1|       1|Appleton, Mrs. Ed...|female|53.0|    2|    0|   11769| 51.4792|   C101|       S|   D|NULL| Bayside, Queens, NY|
|    9|     1|       0|Artagaveytia, Mr....|  male|71.0|    0|    0|PC 17609| 49.5042|   NULL|       C|NULL|  22| Montevideo, Uruguay|
|   10|     1|       0|Astor, Col. John ...|  male|47.0|    1|    0|PC 17757| 227.525|C62 C64|       C|NULL| 124|        New York, NY|
|   11|     1|       1|Astor, Mrs. John ...|female|18.0|    1|    0|PC 17757| 227.525|C62 C64|       C|   4|NULL|        New York, NY|
|   12|     1|       1|Aubart, Mme. Leon...|female|24.0|    0|    0|PC 17477|    69.3|    B35|       C|   9|NULL|       Paris, France|
|   13|     1|       1|"Barber, Miss. El...|female|26.0|    0|    0|   19877|   78.85|   NULL|       S|   6|NULL|                NULL|
|   14|     1|       1|Barkworth, Mr. Al...|  male|80.0|    0|    0|   27042|    30.0|    A23|       S|   B|NULL|       Hessle, Yorks|
|   15|     1|       0| Baumann, Mr. John D|  male|NULL|    0|    0|PC 17318|  25.925|   NULL|       S|NULL|NULL|        New York, NY|
|   16|     1|       0|Baxter, Mr. Quigg...|  male|24.0|    0|    1|PC 17558|247.5208|B58 B60|       C|NULL|NULL|        Montreal, PQ|
|   17|     1|       1|Baxter, Mrs. Jame...|female|50.0|    0|    1|PC 17558|247.5208|B58 B60|       C|   6|NULL|        Montreal, PQ|
|   18|     1|       1|Bazzani, Miss. Al...|female|32.0|    0|    0|   11813| 76.2917|    D15|       C|   8|NULL|                NULL|
|   19|     1|       0|Beattie, Mr. Thomson|  male|36.0|    0|    0|   13050| 75.2417|     C6|       C|   A|NULL|        Winnipeg, MN|
+-----+------+--------+--------------------+------+----+-----+-----+--------+--------+-------+--------+----+----+--------------------+
only showing top 20 rows

In [ ]:
sdf = sdf.withColumnRenamed('home.dest','home')

In [ ]:
sdf.columns

['index',
 'pclass',
 'survived',
 'name',
 'sex',
 'age',
 'sibsp',
 'parch',
 'ticket',
 'fare',
 'cabin',
 'embarked',
 'boat',
 'body',
 'home']

In [ ]:
# drop na
sdf.na.drop(thresh=2).show()

+-----+------+--------+--------------------+------+----+-----+-----+--------+--------+-------+--------+----+----+--------------------+
|index|pclass|survived|                name|   sex| age|sibsp|parch|  ticket|    fare|  cabin|embarked|boat|body|                home|
+-----+------+--------+--------------------+------+----+-----+-----+--------+--------+-------+--------+----+----+--------------------+
|    0|     1|       1|Allen, Miss. Elis...|female|29.0|    0|    0|   24160|211.3375|     B5|       S|   2|NULL|        St Louis, MO|
|    1|     1|       1|Allison, Master. ...|  male|0.92|    1|    2|  113781|  151.55|C22 C26|       S|  11|NULL|Montreal, PQ / Ch...|
|    2|     1|       0|Allison, Miss. He...|female| 2.0|    1|    2|  113781|  151.55|C22 C26|       S|NULL|NULL|Montreal, PQ / Ch...|
|    3|     1|       0|Allison, Mr. Huds...|  male|30.0|    1|    2|  113781|  151.55|C22 C26|       S|NULL| 135|Montreal, PQ / Ch...|
|    4|     1|       0|Allison, Mrs. Hud...|female|25.0|    1|    2|  113781|  151.55|C22 C26|       S|NULL|NULL|Montreal, PQ / Ch...|
|    5|     1|       1| Anderson, Mr. Harry|  male|48.0|    0|    0|   19952|   26.55|    E12|       S|   3|NULL|        New York, NY|
|    6|     1|       1|Andrews, Miss. Ko...|female|63.0|    1|    0|   13502| 77.9583|     D7|       S|  10|NULL|          Hudson, NY|
|    7|     1|       0|Andrews, Mr. Thom...|  male|39.0|    0|    0|  112050|     0.0|    A36|       S|NULL|NULL|         Belfast, NI|
|    8|     1|       1|Appleton, Mrs. Ed...|female|53.0|    2|    0|   11769| 51.4792|   C101|       S|   D|NULL| Bayside, Queens, NY|
|    9|     1|       0|Artagaveytia, Mr....|  male|71.0|    0|    0|PC 17609| 49.5042|   NULL|       C|NULL|  22| Montevideo, Uruguay|
|   10|     1|       0|Astor, Col. John ...|  male|47.0|    1|    0|PC 17757| 227.525|C62 C64|       C|NULL| 124|        New York, NY|
|   11|     1|       1|Astor, Mrs. John ...|female|18.0|    1|    0|PC 17757| 227.525|C62 C64|       C|   4|NULL|        New York, NY|
|   12|     1|       1|Aubart, Mme. Leon...|female|24.0|    0|    0|PC 17477|    69.3|    B35|       C|   9|NULL|       Paris, France|
|   13|     1|       1|"Barber, Miss. El...|female|26.0|    0|    0|   19877|   78.85|   NULL|       S|   6|NULL|                NULL|
|   14|     1|       1|Barkworth, Mr. Al...|  male|80.0|    0|    0|   27042|    30.0|    A23|       S|   B|NULL|       Hessle, Yorks|
|   15|     1|       0| Baumann, Mr. John D|  male|NULL|    0|    0|PC 17318|  25.925|   NULL|       S|NULL|NULL|        New York, NY|
|   16|     1|       0|Baxter, Mr. Quigg...|  male|24.0|    0|    1|PC 17558|247.5208|B58 B60|       C|NULL|NULL|        Montreal, PQ|
|   17|     1|       1|Baxter, Mrs. Jame...|female|50.0|    0|    1|PC 17558|247.5208|B58 B60|       C|   6|NULL|        Montreal, PQ|
|   18|     1|       1|Bazzani, Miss. Al...|female|32.0|    0|    0|   11813| 76.2917|    D15|       C|   8|NULL|                NULL|
|   19|     1|       0|Beattie, Mr. Thomson|  male|36.0|    0|    0|   13050| 75.2417|     C6|       C|   A|NULL|        Winnipeg, MN|
+-----+------+--------+--------------------+------+----+-----+-----+--------+--------+-------+--------+----+----+--------------------+
only showing top 20 rows

In [ ]:
sdf.describe().show()

+-------+-----------------+------------------+-------------------+--------------------+------+------------------+------------------+------------------+------------------+-----------------+-----+--------+------------------+-----------------+-------------------+
|summary|            index|            pclass|           survived|                name|   sex|               age|             sibsp|             parch|            ticket|             fare|cabin|embarked|              boat|             body|               home|
+-------+-----------------+------------------+-------------------+--------------------+------+------------------+------------------+------------------+------------------+-----------------+-----+--------+------------------+-----------------+-------------------+
|  count|             1309|              1309|               1309|                1309|  1309|              1046|              1309|              1309|              1309|             1308|  295|    1307|               486|              121|                745|
|   mean|            654.0| 2.294881588999236| 0.3819709702062643|                NULL|  NULL|29.881137667304014|0.4988540870893812|0.3850267379679144| 249039.1368861024|33.29547928134572| NULL|    NULL| 9.404522613065327|160.8099173553719|               NULL|
| stddev|378.0200611960517|0.8378360189701272|0.48605517086648325|                NULL|  NULL| 14.41349321127133|1.0416583905961012|0.8655602753495143|442685.31767656445|51.75866823917421| NULL|    NULL|4.3574169836049395|97.69692199600308|               NULL|
|    min|                0|                 1|                  0|"Andersson, Mr. A...|female|              0.17|                 0|                 0|            110152|              0.0|  A10|       C|                 1|                1|      ?Havana, Cuba|
|    max|             1308|                 3|                  1|van Melkebeke, Mr...|  male|              80.0|                 8|                 9|         WE/P 5735|         512.3292|    T|       S|                 D|              328|Zurich, Switzerland|
+-------+-----------------+------------------+-------------------+--------------------+------+------------------+------------------+------------------+------------------+-----------------+-----+--------+------------------+-----------------+-------------------+

In [ ]:
sdf.select(['age']).na.fill(29.88).show()

+-----+
|  age|
+-----+
| 29.0|
| 0.92|
|  2.0|
| 30.0|
| 25.0|
| 48.0|
| 63.0|
| 39.0|
| 53.0|
| 71.0|
| 47.0|
| 18.0|
| 24.0|
| 26.0|
| 80.0|
|29.88|
| 24.0|
| 50.0|
| 32.0|
| 36.0|
+-----+
only showing top 20 rows

# **Big Data Regression**

1. Linear Regression
2. Decision Tree
3. Random Forest
4. Gradient Boosting Tree

In [ ]:
# install pyspark
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 2.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425345 sha256=378c0378ebe91703179996b793b0ff5aad3bf09ca14162619bafc77405002812
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [ ]:
# import library
import pyspark
import pandas as pd

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.getOrCreate()

In [ ]:
spark

In [ ]:
df = pd.read_csv('https://github.com/YBIFoundation/Dataset/raw/main/Admission%20Chance.csv')

In [ ]:
sdf = spark.createDataFrame(df)

In [ ]:
sdf.show()

In [ ]:
sdf.describe().show()

In [ ]:
# define y and X (vector)

In [ ]:
sdf.columns

In [ ]:
from pyspark.ml.feature import VectorAssembler

In [ ]:
va = VectorAssembler(inputCols=['GRE Score',
 'TOEFL Score',
 'University Rating',
 ' SOP',
 'LOR ',
 'CGPA',
 'Research'], outputCol='features')

In [ ]:
sdf = va.transform(sdf)

In [ ]:
sdf.show()

In [ ]:
modeldata = sdf.select(['Chance of Admit ', 'X'])

In [ ]:
train,test = modeldata.randomSplit([.8,.2], seed = 2529)

In [ ]:
from pyspark.ml.regression import LinearRegression
from pyspark.ml.regression import DecisionTreeRegressor
from pyspark.ml.regression import RandomForestRegressor
from pyspark.ml.regression import GBTRegressor

In [ ]:
lr = LinearRegression(featuresCol= 'X' , labelCol= 'Chance of Admit ')
dtr = DecisionTreeRegressor(featuresCol= 'X' , labelCol= 'Chance of Admit ')
rfr = RandomForestRegressor(featuresCol= 'X' , labelCol= 'Chance of Admit ')
gbtr = GBTRegressor(featuresCol= 'X' , labelCol= 'Chance of Admit ')

In [ ]:
lrtrain = lr.fit(train)
dtrtrain = dtr.fit(train)
rfrtrain = rfr.fit(train)
gbtrtrain = gbtr.fit(train)

In [ ]:
lrtrain.intercept, lrtrain.coefficients

(-1.2622446352447052,
 DenseVector([0.0021, 0.0028, 0.0046, -0.0054, 0.0292, 0.1062, 0.029]))

In [ ]:
lrtrain.summary.meanAbsoluteError

0.04376838852386611

In [ ]:
lrtrain.summary.r2

0.8161528589378856

In [ ]:
lrtest = lrtrain.transform(test)

In [ ]:
lrtest.show()

+----------------+--------------------+------------------+
|Chance of Admit |                   X|        prediction|
+----------------+--------------------+------------------+
|            0.36|[303.0,99.0,3.0,2...|0.5355458737719467|
|            0.42|[311.0,104.0,2.0,...| 0.614874849310836|
|            0.44|[301.0,97.0,2.0,3...|0.5828817155230888|
|            0.45|[290.0,104.0,4.0,...|0.5053852283191664|
|            0.48|[307.0,108.0,2.0,...|0.5869137883526063|
|            0.48|[309.0,100.0,2.0,...|0.6022835831202638|
|            0.52|[325.0,106.0,3.0,...|0.7443589093963401|
|            0.52|[325.0,111.0,3.0,...|0.7490536232289426|
|            0.57|[316.0,107.0,2.0,...|0.7345330654584272|
|            0.58|[300.0,105.0,1.0,...|0.5422920046710022|
|            0.61|[311.0,104.0,3.0,...|0.6297537225819916|
|            0.64|[299.0,106.0,2.0,...|0.6535602683837796|
|            0.64|[312.0,105.0,2.0,...|0.6271731642122833|
|            0.64|[318.0,106.0,2.0,...|0.6714620443286958|
|            0.65|[302.0,102.0,3.0,...|0.6778923334338667|
|            0.65|[309.0,104.0,2.0,...|0.6210552436339238|
|             0.7|[325.0,114.0,4.0,...|0.6861655183767443|
|            0.71|[322.0,107.0,3.0,...|0.7325698424824805|
|            0.73|[306.0,105.0,2.0,...|0.6121374340031414|
|            0.73|[310.0,106.0,2.0,...|0.6280260439538172|
+----------------+--------------------+------------------+
only showing top 20 rows

In [ ]:
evaluation = lrtrain.evaluate(test)

In [ ]:
evaluation.r2

0.7528377698166766

In [ ]:
evaluation.meanAbsoluteError

0.0511163672550054

# **Practice Session**

In [ ]:
# step 1: install pyspark
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 4.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425345 sha256=66de344ab4ac885dc402774be07f0eec085aa7cb3473c526cf0c150ef444d752
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [ ]:
# step 2: import library
import pandas as pd
import pyspark

In [ ]:
# step 3: create pyspark session
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.getOrCreate()

In [ ]:
# step 4: read dataset
sdf = spark.read.csv('/content/AdultIncome.csv',header=True,inferSchema=True)

In [ ]:
sdf.show()

+---+-------+------------+-------------+-------------+------+-----------+------+
|Age|IsAdult|         Job|Qualification|MaritalStatus|Gender|BankBalance|Salary|
+---+-------+------------+-------------+-------------+------+-----------+------+
| 39|      1|     GovtJob|     Bachelor|    UnMarried|  Male|      77516| <=50K|
| 50|      1|SelfEmployed|     Bachelor|      Married|  Male|      83311| <=50K|
| 38|      1|  PrivateJob|     Bachelor|     Divorced|  Male|     215646| <=50K|
| 53|      1|  PrivateJob|       School|      Married|  Male|     234721| <=50K|
| 28|      1|  PrivateJob|     Bachelor|      Married|Female|     338409| <=50K|
| 37|      1|  PrivateJob|      Masters|      Married|Female|     284582| <=50K|
| 49|      1|  PrivateJob|       School|      Married|Female|     160187| <=50K|
| 52|      1|SelfEmployed|     Bachelor|      Married|  Male|     209642|  >50K|
| 31|      1|  PrivateJob|      Masters|    UnMarried|Female|      45781|  >50K|
| 42|      1|  PrivateJob|     Bachelor|      Married|  Male|     159449|  >50K|
| 37|      1|  PrivateJob|     Bachelor|      Married|  Male|     280464|  >50K|
| 30|      1|     GovtJob|     Bachelor|      Married|  Male|     141297|  >50K|
| 23|      1|  PrivateJob|     Bachelor|    UnMarried|Female|     122272| <=50K|
| 32|      1|  PrivateJob|     Bachelor|    UnMarried|  Male|     205019| <=50K|
| 40|      1|  PrivateJob|     Bachelor|      Married|  Male|     121772|  >50K|
| 34|      1|  PrivateJob|       School|      Married|  Male|     245487| <=50K|
| 25|      1|SelfEmployed|     Bachelor|    UnMarried|  Male|     176756| <=50K|
| 32|      1|  PrivateJob|     Bachelor|    UnMarried|  Male|     186824| <=50K|
| 38|      1|  PrivateJob|       School|      Married|  Male|      28887| <=50K|
| 43|      1|SelfEmployed|      Masters|     Divorced|Female|     292175|  >50K|
+---+-------+------------+-------------+-------------+------+-----------+------+
only showing top 20 rows

In [ ]:
sdf.dtypes

[('Age', 'int'),
 ('IsAdult', 'int'),
 ('Job', 'string'),
 ('Qualification', 'string'),
 ('MaritalStatus', 'string'),
 ('Gender', 'string'),
 ('BankBalance', 'int'),
 ('Salary', 'string')]

In [ ]:
sdf.columns

['Age',
 'IsAdult',
 'Job',
 'Qualification',
 'MaritalStatus',
 'Gender',
 'BankBalance',
 'Salary']

In [ ]:
# step : string indexer
from pyspark.ml.feature import StringIndexer

In [ ]:
si = StringIndexer(inputCols= ['Job',
 'Qualification',
 'MaritalStatus',
 'Gender'] , outputCols= ['iJob',
 'iQualification',
 'iMaritalStatus',
 'iGender'] )

In [ ]:
sdf = si.fit(sdf).transform(sdf)

In [ ]:
sdf.show()

+---+-------+------------+-------------+-------------+------+-----------+------+----+--------------+--------------+-------+
|Age|IsAdult|         Job|Qualification|MaritalStatus|Gender|BankBalance|Salary|iJob|iQualification|iMaritalStatus|iGender|
+---+-------+------------+-------------+-------------+------+-----------+------+----+--------------+--------------+-------+
| 39|      1|     GovtJob|     Bachelor|    UnMarried|  Male|      77516| <=50K| 2.0|           0.0|           1.0|    0.0|
| 50|      1|SelfEmployed|     Bachelor|      Married|  Male|      83311| <=50K| 1.0|           0.0|           0.0|    0.0|
| 38|      1|  PrivateJob|     Bachelor|     Divorced|  Male|     215646| <=50K| 0.0|           0.0|           2.0|    0.0|
| 53|      1|  PrivateJob|       School|      Married|  Male|     234721| <=50K| 0.0|           1.0|           0.0|    0.0|
| 28|      1|  PrivateJob|     Bachelor|      Married|Female|     338409| <=50K| 0.0|           0.0|           0.0|    1.0|
| 37|      1|  PrivateJob|      Masters|      Married|Female|     284582| <=50K| 0.0|           2.0|           0.0|    1.0|
| 49|      1|  PrivateJob|       School|      Married|Female|     160187| <=50K| 0.0|           1.0|           0.0|    1.0|
| 52|      1|SelfEmployed|     Bachelor|      Married|  Male|     209642|  >50K| 1.0|           0.0|           0.0|    0.0|
| 31|      1|  PrivateJob|      Masters|    UnMarried|Female|      45781|  >50K| 0.0|           2.0|           1.0|    1.0|
| 42|      1|  PrivateJob|     Bachelor|      Married|  Male|     159449|  >50K| 0.0|           0.0|           0.0|    0.0|
| 37|      1|  PrivateJob|     Bachelor|      Married|  Male|     280464|  >50K| 0.0|           0.0|           0.0|    0.0|
| 30|      1|     GovtJob|     Bachelor|      Married|  Male|     141297|  >50K| 2.0|           0.0|           0.0|    0.0|
| 23|      1|  PrivateJob|     Bachelor|    UnMarried|Female|     122272| <=50K| 0.0|           0.0|           1.0|    1.0|
| 32|      1|  PrivateJob|     Bachelor|    UnMarried|  Male|     205019| <=50K| 0.0|           0.0|           1.0|    0.0|
| 40|      1|  PrivateJob|     Bachelor|      Married|  Male|     121772|  >50K| 0.0|           0.0|           0.0|    0.0|
| 34|      1|  PrivateJob|       School|      Married|  Male|     245487| <=50K| 0.0|           1.0|           0.0|    0.0|
| 25|      1|SelfEmployed|     Bachelor|    UnMarried|  Male|     176756| <=50K| 1.0|           0.0|           1.0|    0.0|
| 32|      1|  PrivateJob|     Bachelor|    UnMarried|  Male|     186824| <=50K| 0.0|           0.0|           1.0|    0.0|
| 38|      1|  PrivateJob|       School|      Married|  Male|      28887| <=50K| 0.0|           1.0|           0.0|    0.0|
| 43|      1|SelfEmployed|      Masters|     Divorced|Female|     292175|  >50K| 1.0|           2.0|           2.0|    1.0|
+---+-------+------------+-------------+-------------+------+-----------+------+----+--------------+--------------+-------+
only showing top 20 rows

In [ ]:
sdf.columns

['Age',
 'IsAdult',
 'Job',
 'Qualification',
 'MaritalStatus',
 'Gender',
 'BankBalance',
 'Salary',
 'iJob',
 'iQualification',
 'iMaritalStatus',
 'iGender']

In [ ]:
# step : One Hot Encoder
from pyspark.ml.feature import OneHotEncoder

In [ ]:
#ohe = OneHotEncoder(inputCols=['IsAdult',
 'Job',
 'Qualification',
 'MaritalStatus',
 'Gender'], outputCols=['eIsAdult',
 'eJob',
 'eQualification',
 'eMaritalStatus',
 'eGender'])

In [ ]:
ohe = OneHotEncoder(inputCols=['IsAdult','iJob',
 'iQualification',
 'iMaritalStatus',
 'iGender'], outputCols=['eIsAdult','eJob',
 'eQualification',
 'eMaritalStatus',
 'eGender'])

In [ ]:
ohe.fit(sdf).transform(sdf).show()

+---+-------+------------+-------------+-------------+------+-----------+------+----+--------------+--------------+-------+---------+-------------+--------------+--------------+-------------+
|Age|IsAdult|         Job|Qualification|MaritalStatus|Gender|BankBalance|Salary|iJob|iQualification|iMaritalStatus|iGender| eIsAdult|         eJob|eQualification|eMaritalStatus|      eGender|
+---+-------+------------+-------------+-------------+------+-----------+------+----+--------------+--------------+-------+---------+-------------+--------------+--------------+-------------+
| 39|      1|     GovtJob|     Bachelor|    UnMarried|  Male|      77516| <=50K| 2.0|           0.0|           1.0|    0.0|(1,[],[])|    (2,[],[])| (3,[0],[1.0])| (3,[1],[1.0])|(1,[0],[1.0])|
| 50|      1|SelfEmployed|     Bachelor|      Married|  Male|      83311| <=50K| 1.0|           0.0|           0.0|    0.0|(1,[],[])|(2,[1],[1.0])| (3,[0],[1.0])| (3,[0],[1.0])|(1,[0],[1.0])|
| 38|      1|  PrivateJob|     Bachelor|     Divorced|  Male|     215646| <=50K| 0.0|           0.0|           2.0|    0.0|(1,[],[])|(2,[0],[1.0])| (3,[0],[1.0])| (3,[2],[1.0])|(1,[0],[1.0])|
| 53|      1|  PrivateJob|       School|      Married|  Male|     234721| <=50K| 0.0|           1.0|           0.0|    0.0|(1,[],[])|(2,[0],[1.0])| (3,[1],[1.0])| (3,[0],[1.0])|(1,[0],[1.0])|
| 28|      1|  PrivateJob|     Bachelor|      Married|Female|     338409| <=50K| 0.0|           0.0|           0.0|    1.0|(1,[],[])|(2,[0],[1.0])| (3,[0],[1.0])| (3,[0],[1.0])|    (1,[],[])|
| 37|      1|  PrivateJob|      Masters|      Married|Female|     284582| <=50K| 0.0|           2.0|           0.0|    1.0|(1,[],[])|(2,[0],[1.0])| (3,[2],[1.0])| (3,[0],[1.0])|    (1,[],[])|
| 49|      1|  PrivateJob|       School|      Married|Female|     160187| <=50K| 0.0|           1.0|           0.0|    1.0|(1,[],[])|(2,[0],[1.0])| (3,[1],[1.0])| (3,[0],[1.0])|    (1,[],[])|
| 52|      1|SelfEmployed|     Bachelor|      Married|  Male|     209642|  >50K| 1.0|           0.0|           0.0|    0.0|(1,[],[])|(2,[1],[1.0])| (3,[0],[1.0])| (3,[0],[1.0])|(1,[0],[1.0])|
| 31|      1|  PrivateJob|      Masters|    UnMarried|Female|      45781|  >50K| 0.0|           2.0|           1.0|    1.0|(1,[],[])|(2,[0],[1.0])| (3,[2],[1.0])| (3,[1],[1.0])|    (1,[],[])|
| 42|      1|  PrivateJob|     Bachelor|      Married|  Male|     159449|  >50K| 0.0|           0.0|           0.0|    0.0|(1,[],[])|(2,[0],[1.0])| (3,[0],[1.0])| (3,[0],[1.0])|(1,[0],[1.0])|
| 37|      1|  PrivateJob|     Bachelor|      Married|  Male|     280464|  >50K| 0.0|           0.0|           0.0|    0.0|(1,[],[])|(2,[0],[1.0])| (3,[0],[1.0])| (3,[0],[1.0])|(1,[0],[1.0])|
| 30|      1|     GovtJob|     Bachelor|      Married|  Male|     141297|  >50K| 2.0|           0.0|           0.0|    0.0|(1,[],[])|    (2,[],[])| (3,[0],[1.0])| (3,[0],[1.0])|(1,[0],[1.0])|
| 23|      1|  PrivateJob|     Bachelor|    UnMarried|Female|     122272| <=50K| 0.0|           0.0|           1.0|    1.0|(1,[],[])|(2,[0],[1.0])| (3,[0],[1.0])| (3,[1],[1.0])|    (1,[],[])|
| 32|      1|  PrivateJob|     Bachelor|    UnMarried|  Male|     205019| <=50K| 0.0|           0.0|           1.0|    0.0|(1,[],[])|(2,[0],[1.0])| (3,[0],[1.0])| (3,[1],[1.0])|(1,[0],[1.0])|
| 40|      1|  PrivateJob|     Bachelor|      Married|  Male|     121772|  >50K| 0.0|           0.0|           0.0|    0.0|(1,[],[])|(2,[0],[1.0])| (3,[0],[1.0])| (3,[0],[1.0])|(1,[0],[1.0])|
| 34|      1|  PrivateJob|       School|      Married|  Male|     245487| <=50K| 0.0|           1.0|           0.0|    0.0|(1,[],[])|(2,[0],[1.0])| (3,[1],[1.0])| (3,[0],[1.0])|(1,[0],[1.0])|
| 25|      1|SelfEmployed|     Bachelor|    UnMarried|  Male|     176756| <=50K| 1.0|           0.0|           1.0|    0.0|(1,[],[])|(2,[1],[1.0])| (3,[0],[1.0])| (3,[1],[1.0])|(1,[0],[1.0])|
| 32|      1|  PrivateJob|     Bachelor|    UnMarried|  Male|     186824| <=50K| 0.0|           0.0|           1.0|    0.0|(1,[],[])|(2,[0],[1.0])| (3,[0],[1.0])| (3,[1],[1.0])|(1,[0],[1.0])|
| 38|      1|  PrivateJob|       School|      Married|  Male|      28887| <=50K| 0.0|           1.0|           0.0|    0.0|(1,[],[])|(2,[0],[1.0])| (3,[1],[1.0])| (3,[0],[1.0])|(1,[0],[1.0])|
| 43|      1|SelfEmployed|      Masters|     Divorced|Female|     292175|  >50K| 1.0|           2.0|           2.0|    1.0|(1,[],[])|(2,[1],[1.0])| (3,[2],[1.0])| (3,[2],[1.0])|    (1,[],[])|
+---+-------+------------+-------------+-------------+------+-----------+------+----+--------------+--------------+-------+---------+-------------+--------------+--------------+-------------+
only showing top 20 rows

# **Feature Scaling**

In [ ]:
# standard scaler
from pyspark.ml.feature import StandardScaler

In [ ]:
from pyspark.ml.feature import MinMaxScaler
from pyspark.ml.feature import RobustScaler

In [ ]:
sdf.show()

+---+-------+------------+-------------+-------------+------+-----------+------+----+--------------+--------------+-------+
|Age|IsAdult|         Job|Qualification|MaritalStatus|Gender|BankBalance|Salary|iJob|iQualification|iMaritalStatus|iGender|
+---+-------+------------+-------------+-------------+------+-----------+------+----+--------------+--------------+-------+
| 39|      1|     GovtJob|     Bachelor|    UnMarried|  Male|      77516| <=50K| 2.0|           0.0|           1.0|    0.0|
| 50|      1|SelfEmployed|     Bachelor|      Married|  Male|      83311| <=50K| 1.0|           0.0|           0.0|    0.0|
| 38|      1|  PrivateJob|     Bachelor|     Divorced|  Male|     215646| <=50K| 0.0|           0.0|           2.0|    0.0|
| 53|      1|  PrivateJob|       School|      Married|  Male|     234721| <=50K| 0.0|           1.0|           0.0|    0.0|
| 28|      1|  PrivateJob|     Bachelor|      Married|Female|     338409| <=50K| 0.0|           0.0|           0.0|    1.0|
| 37|      1|  PrivateJob|      Masters|      Married|Female|     284582| <=50K| 0.0|           2.0|           0.0|    1.0|
| 49|      1|  PrivateJob|       School|      Married|Female|     160187| <=50K| 0.0|           1.0|           0.0|    1.0|
| 52|      1|SelfEmployed|     Bachelor|      Married|  Male|     209642|  >50K| 1.0|           0.0|           0.0|    0.0|
| 31|      1|  PrivateJob|      Masters|    UnMarried|Female|      45781|  >50K| 0.0|           2.0|           1.0|    1.0|
| 42|      1|  PrivateJob|     Bachelor|      Married|  Male|     159449|  >50K| 0.0|           0.0|           0.0|    0.0|
| 37|      1|  PrivateJob|     Bachelor|      Married|  Male|     280464|  >50K| 0.0|           0.0|           0.0|    0.0|
| 30|      1|     GovtJob|     Bachelor|      Married|  Male|     141297|  >50K| 2.0|           0.0|           0.0|    0.0|
| 23|      1|  PrivateJob|     Bachelor|    UnMarried|Female|     122272| <=50K| 0.0|           0.0|           1.0|    1.0|
| 32|      1|  PrivateJob|     Bachelor|    UnMarried|  Male|     205019| <=50K| 0.0|           0.0|           1.0|    0.0|
| 40|      1|  PrivateJob|     Bachelor|      Married|  Male|     121772|  >50K| 0.0|           0.0|           0.0|    0.0|
| 34|      1|  PrivateJob|       School|      Married|  Male|     245487| <=50K| 0.0|           1.0|           0.0|    0.0|
| 25|      1|SelfEmployed|     Bachelor|    UnMarried|  Male|     176756| <=50K| 1.0|           0.0|           1.0|    0.0|
| 32|      1|  PrivateJob|     Bachelor|    UnMarried|  Male|     186824| <=50K| 0.0|           0.0|           1.0|    0.0|
| 38|      1|  PrivateJob|       School|      Married|  Male|      28887| <=50K| 0.0|           1.0|           0.0|    0.0|
| 43|      1|SelfEmployed|      Masters|     Divorced|Female|     292175|  >50K| 1.0|           2.0|           2.0|    1.0|
+---+-------+------------+-------------+-------------+------+-----------+------+----+--------------+--------------+-------+
only showing top 20 rows

In [ ]:
from pyspark.ml.feature import VectorAssembler

In [ ]:
va = VectorAssembler(inputCols=['Age','BankBalance'], outputCol='numVector')

In [ ]:
sdf = va.transform(sdf)

In [ ]:
sdf.show()

+---+-------+------------+-------------+-------------+------+-----------+------+----+--------------+--------------+-------+---------------+
|Age|IsAdult|         Job|Qualification|MaritalStatus|Gender|BankBalance|Salary|iJob|iQualification|iMaritalStatus|iGender|      numVector|
+---+-------+------------+-------------+-------------+------+-----------+------+----+--------------+--------------+-------+---------------+
| 39|      1|     GovtJob|     Bachelor|    UnMarried|  Male|      77516| <=50K| 2.0|           0.0|           1.0|    0.0| [39.0,77516.0]|
| 50|      1|SelfEmployed|     Bachelor|      Married|  Male|      83311| <=50K| 1.0|           0.0|           0.0|    0.0| [50.0,83311.0]|
| 38|      1|  PrivateJob|     Bachelor|     Divorced|  Male|     215646| <=50K| 0.0|           0.0|           2.0|    0.0|[38.0,215646.0]|
| 53|      1|  PrivateJob|       School|      Married|  Male|     234721| <=50K| 0.0|           1.0|           0.0|    0.0|[53.0,234721.0]|
| 28|      1|  PrivateJob|     Bachelor|      Married|Female|     338409| <=50K| 0.0|           0.0|           0.0|    1.0|[28.0,338409.0]|
| 37|      1|  PrivateJob|      Masters|      Married|Female|     284582| <=50K| 0.0|           2.0|           0.0|    1.0|[37.0,284582.0]|
| 49|      1|  PrivateJob|       School|      Married|Female|     160187| <=50K| 0.0|           1.0|           0.0|    1.0|[49.0,160187.0]|
| 52|      1|SelfEmployed|     Bachelor|      Married|  Male|     209642|  >50K| 1.0|           0.0|           0.0|    0.0|[52.0,209642.0]|
| 31|      1|  PrivateJob|      Masters|    UnMarried|Female|      45781|  >50K| 0.0|           2.0|           1.0|    1.0| [31.0,45781.0]|
| 42|      1|  PrivateJob|     Bachelor|      Married|  Male|     159449|  >50K| 0.0|           0.0|           0.0|    0.0|[42.0,159449.0]|
| 37|      1|  PrivateJob|     Bachelor|      Married|  Male|     280464|  >50K| 0.0|           0.0|           0.0|    0.0|[37.0,280464.0]|
| 30|      1|     GovtJob|     Bachelor|      Married|  Male|     141297|  >50K| 2.0|           0.0|           0.0|    0.0|[30.0,141297.0]|
| 23|      1|  PrivateJob|     Bachelor|    UnMarried|Female|     122272| <=50K| 0.0|           0.0|           1.0|    1.0|[23.0,122272.0]|
| 32|      1|  PrivateJob|     Bachelor|    UnMarried|  Male|     205019| <=50K| 0.0|           0.0|           1.0|    0.0|[32.0,205019.0]|
| 40|      1|  PrivateJob|     Bachelor|      Married|  Male|     121772|  >50K| 0.0|           0.0|           0.0|    0.0|[40.0,121772.0]|
| 34|      1|  PrivateJob|       School|      Married|  Male|     245487| <=50K| 0.0|           1.0|           0.0|    0.0|[34.0,245487.0]|
| 25|      1|SelfEmployed|     Bachelor|    UnMarried|  Male|     176756| <=50K| 1.0|           0.0|           1.0|    0.0|[25.0,176756.0]|
| 32|      1|  PrivateJob|     Bachelor|    UnMarried|  Male|     186824| <=50K| 0.0|           0.0|           1.0|    0.0|[32.0,186824.0]|
| 38|      1|  PrivateJob|       School|      Married|  Male|      28887| <=50K| 0.0|           1.0|           0.0|    0.0| [38.0,28887.0]|
| 43|      1|SelfEmployed|      Masters|     Divorced|Female|     292175|  >50K| 1.0|           2.0|           2.0|    1.0|[43.0,292175.0]|
+---+-------+------------+-------------+-------------+------+-----------+------+----+--------------+--------------+-------+---------------+
only showing top 20 rows

In [ ]:
ss = StandardScaler(inputCol='numVector', outputCol= 'snumVector')

In [ ]:
sdf = ss.fit(sdf).transform(sdf)

In [ ]:
sdf.select(['numVector','snumVector']).show(truncate=False)

+---------------+----------------------------------------+
|numVector      |snumVector                              |
+---------------+----------------------------------------+
|[39.0,77516.0] |[2.8591468669928934,0.7344009131153691] |
|[50.0,83311.0] |[3.6655729064011453,0.7893038143422586] |
|[38.0,215646.0]|[2.7858354088648705,2.043070066949751]  |
|[53.0,234721.0]|[3.8855072807852142,2.223790143033084]  |
|[28.0,338409.0]|[2.0527208275846416,3.2061494221381257] |
|[37.0,284582.0]|[2.7125239507368475,2.696182474020821]  |
|[49.0,160187.0]|[3.5922614482731223,1.5176412491512932] |
|[52.0,209642.0]|[3.8121958226571913,1.9861870610884491] |
|[31.0,45781.0] |[2.27265520196871,0.43373765678485365]  |
|[42.0,159449.0]|[3.079081241376962,1.510649300729301]   |
|[37.0,280464.0]|[2.7125239507368475,2.6571677807934995] |
|[30.0,141297.0]|[2.199343743840687,1.3386738972658847]  |
|[23.0,122272.0]|[1.686163536944527,1.1584275304252336]  |
|[32.0,205019.0]|[2.345966660096733,1.942387904510035]   |
|[40.0,121772.0]|[2.9324583251209164,1.1536904379984099] |
|[34.0,245487.0]|[2.492589576352779,2.3257892171674572]  |
|[25.0,176756.0]|[1.8327864532005727,1.674619017991385]  |
|[32.0,186824.0]|[2.345966660096733,1.7700051110979118]  |
|[38.0,28887.0] |[2.7858354088648705,0.27368077786732636]|
|[43.0,292175.0]|[3.152392699504985,2.7681199596145696]  |
+---------------+----------------------------------------+
only showing top 20 rows

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 4.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425345 sha256=a8db8d26b6d35397ac79ebe06bfd462c0e30599462b6fdfe6c4c1d11bd1f0a4d
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [ ]:
import pyspark

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.getOrCreate()

In [ ]:
sdf = spark.read.csv('/content/EcommerceCustomer.csv',header=True,inferSchema=True)

In [ ]:
sdf.show()

+---------+----------------+---------+-------------+------------------+-----------------+
|CustomeID|AvgSessionLength|TimeOnApp|TimeOnWebsite|LengthOfMembership|YearlyAmountSpent|
+---------+----------------+---------+-------------+------------------+-----------------+
|        1|            34.5|    12.66|        39.58|              4.08|           587.95|
|        2|           31.93|    11.11|        37.27|              2.66|            392.2|
|        3|            33.0|    11.33|        37.11|               4.1|           487.55|
|        4|           34.31|    13.72|        36.72|              3.12|           581.85|
|        5|           33.33|     12.8|        37.54|              4.45|           599.41|
|        6|           33.87|    12.03|        34.48|              5.49|            637.1|
|        7|           32.02|    11.37|        36.68|              4.69|           521.57|
|        8|           32.74|    12.35|        37.37|              4.43|            549.9|
|        9|           33.99|    13.39|        37.53|              3.27|            570.2|
|       10|           31.94|    11.81|        37.15|               3.2|            427.2|
|       11|           33.99|    13.34|        37.23|              2.48|           492.61|
|       12|           33.88|    11.58|        37.09|              3.71|           522.34|
|       13|           29.53|    10.96|        37.42|              4.05|           408.64|
|       14|           33.19|    12.96|        36.14|              3.92|           573.42|
|       15|           32.39|    13.15|        36.62|              2.49|           470.45|
|       16|           30.74|    12.64|        36.21|              3.36|           461.78|
|       17|           32.13|    11.73|        34.89|              3.14|           457.85|
|       18|           32.34|    12.01|        38.39|              2.42|            407.7|
|       19|           32.19|    14.72|        38.24|              1.52|           452.32|
|       20|           32.62|    13.99|        37.19|              4.06|           605.06|
+---------+----------------+---------+-------------+------------------+-----------------+
only showing top 20 rows

In [ ]:
sdf.columns

['CustomeID',
 'AvgSessionLength',
 'TimeOnApp',
 'TimeOnWebsite',
 'LengthOfMembership',
 'YearlyAmountSpent']

In [ ]:
from pyspark.ml.feature import VectorAssembler

In [ ]:
va = VectorAssembler(inputCols=['AvgSessionLength',
 'TimeOnApp',
 'TimeOnWebsite',
 'LengthOfMembership'], outputCol='X')

In [ ]:
sdf = va.transform(sdf)

In [ ]:
sdf.show()

+---------+----------------+---------+-------------+------------------+-----------------+--------------------+
|CustomeID|AvgSessionLength|TimeOnApp|TimeOnWebsite|LengthOfMembership|YearlyAmountSpent|                   X|
+---------+----------------+---------+-------------+------------------+-----------------+--------------------+
|        1|            34.5|    12.66|        39.58|              4.08|           587.95|[34.5,12.66,39.58...|
|        2|           31.93|    11.11|        37.27|              2.66|            392.2|[31.93,11.11,37.2...|
|        3|            33.0|    11.33|        37.11|               4.1|           487.55|[33.0,11.33,37.11...|
|        4|           34.31|    13.72|        36.72|              3.12|           581.85|[34.31,13.72,36.7...|
|        5|           33.33|     12.8|        37.54|              4.45|           599.41|[33.33,12.8,37.54...|
|        6|           33.87|    12.03|        34.48|              5.49|            637.1|[33.87,12.03,34.4...|
|        7|           32.02|    11.37|        36.68|              4.69|           521.57|[32.02,11.37,36.6...|
|        8|           32.74|    12.35|        37.37|              4.43|            549.9|[32.74,12.35,37.3...|
|        9|           33.99|    13.39|        37.53|              3.27|            570.2|[33.99,13.39,37.5...|
|       10|           31.94|    11.81|        37.15|               3.2|            427.2|[31.94,11.81,37.1...|
|       11|           33.99|    13.34|        37.23|              2.48|           492.61|[33.99,13.34,37.2...|
|       12|           33.88|    11.58|        37.09|              3.71|           522.34|[33.88,11.58,37.0...|
|       13|           29.53|    10.96|        37.42|              4.05|           408.64|[29.53,10.96,37.4...|
|       14|           33.19|    12.96|        36.14|              3.92|           573.42|[33.19,12.96,36.1...|
|       15|           32.39|    13.15|        36.62|              2.49|           470.45|[32.39,13.15,36.6...|
|       16|           30.74|    12.64|        36.21|              3.36|           461.78|[30.74,12.64,36.2...|
|       17|           32.13|    11.73|        34.89|              3.14|           457.85|[32.13,11.73,34.8...|
|       18|           32.34|    12.01|        38.39|              2.42|            407.7|[32.34,12.01,38.3...|
|       19|           32.19|    14.72|        38.24|              1.52|           452.32|[32.19,14.72,38.2...|
|       20|           32.62|    13.99|        37.19|              4.06|           605.06|[32.62,13.99,37.1...|
+---------+----------------+---------+-------------+------------------+-----------------+--------------------+
only showing top 20 rows

In [ ]:
from pyspark.ml.feature import StandardScaler

In [ ]:
ss = StandardScaler(inputCol='X', outputCol='sX', withMean=True)

In [ ]:
sdf = ss.fit(sdf).transform(sdf)

In [ ]:
sdf.show()

+---------+----------------+---------+-------------+------------------+-----------------+--------------------+--------------------+
|CustomeID|AvgSessionLength|TimeOnApp|TimeOnWebsite|LengthOfMembership|YearlyAmountSpent|                   X|                  sX|
+---------+----------------+---------+-------------+------------------+-----------------+--------------------+--------------------+
|        1|            34.5|    12.66|        39.58|              4.08|           587.95|[34.5,12.66,39.58...|[1.45757347554559...|
|        2|           31.93|    11.11|        37.27|              2.66|            392.2|[31.93,11.11,37.2...|[-1.1318143779598...|
|        3|            33.0|    11.33|        37.11|               4.1|           487.55|[33.0,11.33,37.11...|[-0.0537423922591...|
|        4|           34.31|    13.72|        36.72|              3.12|           581.85|[34.31,13.72,36.7...|[1.26614013229032...|
|        5|           33.33|     12.8|        37.54|              4.45|           599.41|[33.33,12.8,37.54...|[0.27874709865789...|
|        6|           33.87|    12.03|        34.48|              5.49|            637.1|[33.87,12.03,34.4...|[0.82282081106760...|
|        7|           32.02|    11.37|        36.68|              4.69|           521.57|[32.02,11.37,36.6...|[-1.0411354258915...|
|        8|           32.74|    12.35|        37.37|              4.43|            549.9|[32.74,12.35,37.3...|[-0.3157038093452...|
|        9|           33.99|    13.39|        37.53|              3.27|            570.2|[33.99,13.39,37.5...|[0.94372608049198...|
|       10|           31.94|    11.81|        37.15|               3.2|            427.2|[31.94,11.81,37.1...|[-1.1217389388411...|
|       11|           33.99|    13.34|        37.23|              2.48|           492.61|[33.99,13.34,37.2...|[0.94372608049198...|
|       12|           33.88|    11.58|        37.09|              3.71|           522.34|[33.88,11.58,37.0...|[0.83289625018630...|
|       13|           29.53|    10.96|        37.42|              4.05|           408.64|[29.53,10.96,37.4...|[-3.5499197664474...|
|       14|           33.19|    12.96|        36.14|              3.92|           573.42|[33.19,12.96,36.1...|[0.13769095099612...|
|       15|           32.39|    13.15|        36.62|              2.49|           470.45|[32.39,13.15,36.6...|[-0.6683441784997...|
|       16|           30.74|    12.64|        36.21|              3.36|           461.78|[30.74,12.64,36.2...|[-2.3307916330849...|
|       17|           32.13|    11.73|        34.89|              3.14|           457.85|[32.13,11.73,34.8...|[-0.9303055955858...|
|       18|           32.34|    12.01|        38.39|              2.42|            407.7|[32.34,12.01,38.3...|[-0.7187213740932...|
|       19|           32.19|    14.72|        38.24|              1.52|           452.32|[32.19,14.72,38.2...|[-0.8698529608737...|
|       20|           32.62|    13.99|        37.19|              4.06|           605.06|[32.62,13.99,37.1...|[-0.4366090787696...|
+---------+----------------+---------+-------------+------------------+-----------------+--------------------+--------------------+
only showing top 20 rows

In [ ]:
data = sdf.select(['sX','YearlyAmountSpent'])

In [ ]:
train, test = data.randomSplit([0.7,0.3],seed=2529)

In [ ]:
from pyspark.ml.regression import LinearRegression

In [ ]:
lr = LinearRegression(featuresCol='sX', labelCol='YearlyAmountSpent')

In [ ]:
lr.fit(train).intercept

499.12008835525825

In [ ]:
lr.fit(train).coefficients

DenseVector([25.1773, 38.2636, 0.4322, 61.5188])

In [ ]:
lr.fit(train).summary.rootMeanSquaredError

10.269862207704525

In [ ]:
lr.fit(train).transform(test).show()

Py4JJavaError: An error occurred while calling o372.fit.
: java.lang.IllegalStateException: Cannot call methods on a stopped SparkContext.
This stopped SparkContext was created at:

org.apache.spark.api.java.JavaSparkContext.<init>(JavaSparkContext.scala:58)
java.base/jdk.internal.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
java.base/jdk.internal.reflect.NativeConstructorAccessorImpl.newInstance(NativeConstructorAccessorImpl.java:62)
java.base/jdk.internal.reflect.DelegatingConstructorAccessorImpl.newInstance(DelegatingConstructorAccessorImpl.java:45)
java.base/java.lang.reflect.Constructor.newInstance(Constructor.java:490)
py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:247)
py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
py4j.Gateway.invoke(Gateway.java:238)
py4j.commands.ConstructorCommand.invokeConstructor(ConstructorCommand.java:80)
py4j.commands.ConstructorCommand.execute(ConstructorCommand.java:69)
py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
py4j.ClientServerConnection.run(ClientServerConnection.java:106)
java.base/java.lang.Thread.run(Thread.java:829)

The currently active SparkContext was created at:

org.apache.spark.api.java.JavaSparkContext.<init>(JavaSparkContext.scala:58)
java.base/jdk.internal.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
java.base/jdk.internal.reflect.NativeConstructorAccessorImpl.newInstance(NativeConstructorAccessorImpl.java:62)
java.base/jdk.internal.reflect.DelegatingConstructorAccessorImpl.newInstance(DelegatingConstructorAccessorImpl.java:45)
java.base/java.lang.reflect.Constructor.newInstance(Constructor.java:490)
py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:247)
py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
py4j.Gateway.invoke(Gateway.java:238)
py4j.commands.ConstructorCommand.invokeConstructor(ConstructorCommand.java:80)
py4j.commands.ConstructorCommand.execute(ConstructorCommand.java:69)
py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
py4j.ClientServerConnection.run(ClientServerConnection.java:106)
java.base/java.lang.Thread.run(Thread.java:829)

	at org.apache.spark.SparkContext.assertNotStopped(SparkContext.scala:122)
	at org.apache.spark.SparkContext.broadcastInternal(SparkContext.scala:1659)
	at org.apache.spark.SparkContext.broadcast(SparkContext.scala:1644)
	at org.apache.spark.sql.execution.datasources.csv.CSVFileFormat.buildReader(CSVFileFormat.scala:102)
	at org.apache.spark.sql.execution.datasources.FileFormat.buildReaderWithPartitionValues(FileFormat.scala:138)
	at org.apache.spark.sql.execution.datasources.FileFormat.buildReaderWithPartitionValues$(FileFormat.scala:129)
	at org.apache.spark.sql.execution.datasources.TextBasedFileFormat.buildReaderWithPartitionValues(FileFormat.scala:346)
	at org.apache.spark.sql.execution.FileSourceScanExec.inputRDD$lzycompute(DataSourceScanExec.scala:548)
	at org.apache.spark.sql.execution.FileSourceScanExec.inputRDD(DataSourceScanExec.scala:537)
	at org.apache.spark.sql.execution.FileSourceScanExec.doExecute(DataSourceScanExec.scala:575)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$execute$1(SparkPlan.scala:195)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$executeQuery$1(SparkPlan.scala:246)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.sql.execution.SparkPlan.executeQuery(SparkPlan.scala:243)
	at org.apache.spark.sql.execution.SparkPlan.execute(SparkPlan.scala:191)
	at org.apache.spark.sql.execution.InputAdapter.inputRDD(WholeStageCodegenExec.scala:527)
	at org.apache.spark.sql.execution.InputRDDCodegen.inputRDDs(WholeStageCodegenExec.scala:455)
	at org.apache.spark.sql.execution.InputRDDCodegen.inputRDDs$(WholeStageCodegenExec.scala:454)
	at org.apache.spark.sql.execution.InputAdapter.inputRDDs(WholeStageCodegenExec.scala:498)
	at org.apache.spark.sql.execution.ProjectExec.inputRDDs(basicPhysicalOperators.scala:51)
	at org.apache.spark.sql.execution.ProjectExec.inputRDDs(basicPhysicalOperators.scala:51)
	at org.apache.spark.sql.execution.SortExec.inputRDDs(SortExec.scala:132)
	at org.apache.spark.sql.execution.SampleExec.inputRDDs(basicPhysicalOperators.scala:345)
	at org.apache.spark.sql.execution.WholeStageCodegenExec.doExecute(WholeStageCodegenExec.scala:751)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$execute$1(SparkPlan.scala:195)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$executeQuery$1(SparkPlan.scala:246)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.sql.execution.SparkPlan.executeQuery(SparkPlan.scala:243)
	at org.apache.spark.sql.execution.SparkPlan.execute(SparkPlan.scala:191)
	at org.apache.spark.sql.execution.DeserializeToObjectExec.doExecute(objects.scala:93)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$execute$1(SparkPlan.scala:195)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$executeQuery$1(SparkPlan.scala:246)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.sql.execution.SparkPlan.executeQuery(SparkPlan.scala:243)
	at org.apache.spark.sql.execution.SparkPlan.execute(SparkPlan.scala:191)
	at org.apache.spark.sql.execution.QueryExecution.toRdd$lzycompute(QueryExecution.scala:207)
	at org.apache.spark.sql.execution.QueryExecution.toRdd(QueryExecution.scala:206)
	at org.apache.spark.sql.Dataset.rdd$lzycompute(Dataset.scala:3861)
	at org.apache.spark.sql.Dataset.rdd(Dataset.scala:3859)
	at org.apache.spark.ml.util.Instrumentation.logDataset(Instrumentation.scala:62)
	at org.apache.spark.ml.regression.LinearRegression.$anonfun$train$1(LinearRegression.scala:331)
	at org.apache.spark.ml.util.Instrumentation$.$anonfun$instrumented$1(Instrumentation.scala:191)
	at scala.util.Try$.apply(Try.scala:213)
	at org.apache.spark.ml.util.Instrumentation$.instrumented(Instrumentation.scala:191)
	at org.apache.spark.ml.regression.LinearRegression.train(LinearRegression.scala:329)
	at org.apache.spark.ml.regression.LinearRegression.train(LinearRegression.scala:186)
	at org.apache.spark.ml.Predictor.fit(Predictor.scala:114)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:566)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:829)

In [ ]:
lr.fit(train).evaluate(test).rootMeanSquaredError

9.02495119628211

In [ ]:
spark.stop()

# **Clustering**

In [ ]:
spark = SparkSession.builder.getOrCreate()

In [ ]:
sdf = spark.read.csv('/content/seeds_dataset.csv',header=True,inferSchema=True)

In [ ]:
sdf.show()

+-----+---------+-----------+------------------+------------------+---------------------+------------------+
| area|perimeter|compactness|  length_of_kernel|   width_of_kernel|asymmetry_coefficient|  length_of_groove|
+-----+---------+-----------+------------------+------------------+---------------------+------------------+
|15.26|    14.84|      0.871|             5.763|             3.312|                2.221|              5.22|
|14.88|    14.57|     0.8811| 5.553999999999999|             3.333|                1.018|             4.956|
|14.29|    14.09|      0.905|             5.291|3.3369999999999997|                2.699|             4.825|
|13.84|    13.94|     0.8955|             5.324|3.3789999999999996|                2.259|             4.805|
|16.14|    14.99|     0.9034|5.6579999999999995|             3.562|                1.355|             5.175|
|14.38|    14.21|     0.8951|             5.386|             3.312|   2.4619999999999997|             4.956|
|14.69|    14.49|     0.8799|             5.563|             3.259|   3.5860000000000003| 5.218999999999999|
|14.11|     14.1|     0.8911|              5.42|             3.302|                  2.7|               5.0|
|16.63|    15.46|     0.8747|             6.053|             3.465|                 2.04| 5.877000000000001|
|16.44|    15.25|      0.888|5.8839999999999995|             3.505|                1.969|5.5329999999999995|
|15.26|    14.85|     0.8696|5.7139999999999995|             3.242|                4.543|             5.314|
|14.03|    14.16|     0.8796|             5.438|             3.201|   1.7169999999999999|             5.001|
|13.89|    14.02|      0.888|             5.439|             3.199|                3.986|             4.738|
|13.78|    14.06|     0.8759|             5.479|             3.156|                3.136|             4.872|
|13.74|    14.05|     0.8744|             5.482|             3.114|                2.932|             4.825|
|14.59|    14.28|     0.8993|             5.351|             3.333|                4.185| 4.781000000000001|
|13.99|    13.83|     0.9183|             5.119|             3.383|                5.234| 4.781000000000001|
|15.69|    14.75|     0.9058|             5.527|             3.514|                1.599|             5.046|
| 14.7|    14.21|     0.9153|             5.205|             3.466|                1.767|             4.649|
|12.72|    13.57|     0.8686|             5.226|             3.049|                4.102|             4.914|
+-----+---------+-----------+------------------+------------------+---------------------+------------------+
only showing top 20 rows

In [ ]:
sdf.describe().show()

+-------+------------------+------------------+--------------------+-------------------+------------------+---------------------+-------------------+
|summary|              area|         perimeter|         compactness|   length_of_kernel|   width_of_kernel|asymmetry_coefficient|   length_of_groove|
+-------+------------------+------------------+--------------------+-------------------+------------------+---------------------+-------------------+
|  count|               210|               210|                 210|                210|               210|                  210|                210|
|   mean|14.847523809523816|14.559285714285718|  0.8709985714285714|  5.628533333333335| 3.258604761904762|   3.7001999999999997|  5.408071428571429|
| stddev|2.9096994306873647|1.3059587265640225|0.023629416583846364|0.44306347772644983|0.3777144449065867|   1.5035589702547392|0.49148049910240543|
|    min|             10.59|             12.41|              0.8081|              4.899|              2.63|                0.765|              4.519|
|    max|             21.18|             17.25|              0.9183|              6.675|             4.033|                8.456|               6.55|
+-------+------------------+------------------+--------------------+-------------------+------------------+---------------------+-------------------+

In [ ]:
sdf.columns

['area',
 'perimeter',
 'compactness',
 'length_of_kernel',
 'width_of_kernel',
 'asymmetry_coefficient',
 'length_of_groove']

In [ ]:
from pyspark.ml.feature import VectorAssembler

In [ ]:
va = VectorAssembler(inputCols=['area',
 'perimeter',
 'compactness',
 'length_of_kernel',
 'width_of_kernel',
 'asymmetry_coefficient',
 'length_of_groove'], outputCol='X')

In [ ]:
sdf = va.transform(sdf)

In [ ]:
sdf.show()

+-----+---------+-----------+------------------+------------------+---------------------+------------------+--------------------+
| area|perimeter|compactness|  length_of_kernel|   width_of_kernel|asymmetry_coefficient|  length_of_groove|                   X|
+-----+---------+-----------+------------------+------------------+---------------------+------------------+--------------------+
|15.26|    14.84|      0.871|             5.763|             3.312|                2.221|              5.22|[15.26,14.84,0.87...|
|14.88|    14.57|     0.8811| 5.553999999999999|             3.333|                1.018|             4.956|[14.88,14.57,0.88...|
|14.29|    14.09|      0.905|             5.291|3.3369999999999997|                2.699|             4.825|[14.29,14.09,0.90...|
|13.84|    13.94|     0.8955|             5.324|3.3789999999999996|                2.259|             4.805|[13.84,13.94,0.89...|
|16.14|    14.99|     0.9034|5.6579999999999995|             3.562|                1.355|             5.175|[16.14,14.99,0.90...|
|14.38|    14.21|     0.8951|             5.386|             3.312|   2.4619999999999997|             4.956|[14.38,14.21,0.89...|
|14.69|    14.49|     0.8799|             5.563|             3.259|   3.5860000000000003| 5.218999999999999|[14.69,14.49,0.87...|
|14.11|     14.1|     0.8911|              5.42|             3.302|                  2.7|               5.0|[14.11,14.1,0.891...|
|16.63|    15.46|     0.8747|             6.053|             3.465|                 2.04| 5.877000000000001|[16.63,15.46,0.87...|
|16.44|    15.25|      0.888|5.8839999999999995|             3.505|                1.969|5.5329999999999995|[16.44,15.25,0.88...|
|15.26|    14.85|     0.8696|5.7139999999999995|             3.242|                4.543|             5.314|[15.26,14.85,0.86...|
|14.03|    14.16|     0.8796|             5.438|             3.201|   1.7169999999999999|             5.001|[14.03,14.16,0.87...|
|13.89|    14.02|      0.888|             5.439|             3.199|                3.986|             4.738|[13.89,14.02,0.88...|
|13.78|    14.06|     0.8759|             5.479|             3.156|                3.136|             4.872|[13.78,14.06,0.87...|
|13.74|    14.05|     0.8744|             5.482|             3.114|                2.932|             4.825|[13.74,14.05,0.87...|
|14.59|    14.28|     0.8993|             5.351|             3.333|                4.185| 4.781000000000001|[14.59,14.28,0.89...|
|13.99|    13.83|     0.9183|             5.119|             3.383|                5.234| 4.781000000000001|[13.99,13.83,0.91...|
|15.69|    14.75|     0.9058|             5.527|             3.514|                1.599|             5.046|[15.69,14.75,0.90...|
| 14.7|    14.21|     0.9153|             5.205|             3.466|                1.767|             4.649|[14.7,14.21,0.915...|
|12.72|    13.57|     0.8686|             5.226|             3.049|                4.102|             4.914|[12.72,13.57,0.86...|
+-----+---------+-----------+------------------+------------------+---------------------+------------------+--------------------+
only showing top 20 rows

In [ ]:
from pyspark.ml.feature import StandardScaler

In [ ]:
ss = StandardScaler(inputCol='X',outputCol='sX')

In [ ]:
sdf = ss.fit(sdf).transform(sdf)

In [ ]:
sdf.show()

+-----+---------+-----------+------------------+------------------+---------------------+------------------+--------------------+--------------------+
| area|perimeter|compactness|  length_of_kernel|   width_of_kernel|asymmetry_coefficient|  length_of_groove|                   X|                  sX|
+-----+---------+-----------+------------------+------------------+---------------------+------------------+--------------------+--------------------+
|15.26|    14.84|      0.871|             5.763|             3.312|                2.221|              5.22|[15.26,14.84,0.87...|[5.24452795332028...|
|14.88|    14.57|     0.8811| 5.553999999999999|             3.333|                1.018|             4.956|[14.88,14.57,0.88...|[5.11393027165175...|
|14.29|    14.09|      0.905|             5.291|3.3369999999999997|                2.699|             4.825|[14.29,14.09,0.90...|[4.91116018695588...|
|13.84|    13.94|     0.8955|             5.324|3.3789999999999996|                2.259|             4.805|[13.84,13.94,0.89...|[4.75650503761158...|
|16.14|    14.99|     0.9034|5.6579999999999995|             3.562|                1.355|             5.175|[16.14,14.99,0.90...|[5.54696468981581...|
|14.38|    14.21|     0.8951|             5.386|             3.312|   2.4619999999999997|             4.956|[14.38,14.21,0.89...|[4.94209121682475...|
|14.69|    14.49|     0.8799|             5.563|             3.259|   3.5860000000000003| 5.218999999999999|[14.69,14.49,0.87...|[5.04863143081749...|
|14.11|     14.1|     0.8911|              5.42|             3.302|                  2.7|               5.0|[14.11,14.1,0.891...|[4.84929812721816...|
|16.63|    15.46|     0.8747|             6.053|             3.465|                 2.04| 5.877000000000001|[16.63,15.46,0.87...|[5.71536696354628...|
|16.44|    15.25|      0.888|5.8839999999999995|             3.505|                1.969|5.5329999999999995|[16.44,15.25,0.88...|[5.65006812271202...|
|15.26|    14.85|     0.8696|5.7139999999999995|             3.242|                4.543|             5.314|[15.26,14.85,0.86...|[5.24452795332028...|
|14.03|    14.16|     0.8796|             5.438|             3.201|   1.7169999999999999|             5.001|[14.03,14.16,0.87...|[4.82180387844584...|
|13.89|    14.02|      0.888|             5.439|             3.199|                3.986|             4.738|[13.89,14.02,0.88...|[4.77368894309428...|
|13.78|    14.06|     0.8759|             5.479|             3.156|                3.136|             4.872|[13.78,14.06,0.87...|[4.73588435103234...|
|13.74|    14.05|     0.8744|             5.482|             3.114|                2.932|             4.825|[13.74,14.05,0.87...|[4.72213722664617...|
|14.59|    14.28|     0.8993|             5.351|             3.333|                4.185| 4.781000000000001|[14.59,14.28,0.89...|[5.01426361985209...|
|13.99|    13.83|     0.9183|             5.119|             3.383|                5.234| 4.781000000000001|[13.99,13.83,0.91...|[4.80805675405968...|
|15.69|    14.75|     0.9058|             5.527|             3.514|                1.599|             5.046|[15.69,14.75,0.90...|[5.39230954047151...|
| 14.7|    14.21|     0.9153|             5.205|             3.466|                1.767|             4.649|[14.7,14.21,0.915...|[5.05206821191403...|
|12.72|    13.57|     0.8686|             5.226|             3.049|                4.102|             4.914|[12.72,13.57,0.86...|[4.37158555479908...|
+-----+---------+-----------+------------------+------------------+---------------------+------------------+--------------------+--------------------+
only showing top 20 rows

In [ ]:
from pyspark.ml.clustering import KMeans

In [ ]:
km = KMeans(featuresCol='sX',k = 3)

In [ ]:
model = km.fit(sdf)

In [ ]:
model.clusterCenters()

[array([ 4.0648023 , 10.14242485, 35.82143905, 11.81918014,  7.51855717,
         3.19361875, 10.40520609]),
 array([ 6.32636687, 12.38115343, 37.39222755, 13.9206997 ,  9.75485787,
         2.41428142, 12.28078861]),
 array([ 4.91309043, 10.92012526, 37.32658724, 12.37724251,  8.59393872,
         1.8226071 , 10.35389957])]

In [ ]:
model.transform(sdf).show()

+-----+---------+-----------+------------------+------------------+---------------------+------------------+--------------------+--------------------+----------+
| area|perimeter|compactness|  length_of_kernel|   width_of_kernel|asymmetry_coefficient|  length_of_groove|                   X|                  sX|prediction|
+-----+---------+-----------+------------------+------------------+---------------------+------------------+--------------------+--------------------+----------+
|15.26|    14.84|      0.871|             5.763|             3.312|                2.221|              5.22|[15.26,14.84,0.87...|[5.24452795332028...|         2|
|14.88|    14.57|     0.8811| 5.553999999999999|             3.333|                1.018|             4.956|[14.88,14.57,0.88...|[5.11393027165175...|         2|
|14.29|    14.09|      0.905|             5.291|3.3369999999999997|                2.699|             4.825|[14.29,14.09,0.90...|[4.91116018695588...|         2|
|13.84|    13.94|     0.8955|             5.324|3.3789999999999996|                2.259|             4.805|[13.84,13.94,0.89...|[4.75650503761158...|         2|
|16.14|    14.99|     0.9034|5.6579999999999995|             3.562|                1.355|             5.175|[16.14,14.99,0.90...|[5.54696468981581...|         2|
|14.38|    14.21|     0.8951|             5.386|             3.312|   2.4619999999999997|             4.956|[14.38,14.21,0.89...|[4.94209121682475...|         2|
|14.69|    14.49|     0.8799|             5.563|             3.259|   3.5860000000000003| 5.218999999999999|[14.69,14.49,0.87...|[5.04863143081749...|         2|
|14.11|     14.1|     0.8911|              5.42|             3.302|                  2.7|               5.0|[14.11,14.1,0.891...|[4.84929812721816...|         2|
|16.63|    15.46|     0.8747|             6.053|             3.465|                 2.04| 5.877000000000001|[16.63,15.46,0.87...|[5.71536696354628...|         1|
|16.44|    15.25|      0.888|5.8839999999999995|             3.505|                1.969|5.5329999999999995|[16.44,15.25,0.88...|[5.65006812271202...|         2|
|15.26|    14.85|     0.8696|5.7139999999999995|             3.242|                4.543|             5.314|[15.26,14.85,0.86...|[5.24452795332028...|         2|
|14.03|    14.16|     0.8796|             5.438|             3.201|   1.7169999999999999|             5.001|[14.03,14.16,0.87...|[4.82180387844584...|         2|
|13.89|    14.02|      0.888|             5.439|             3.199|                3.986|             4.738|[13.89,14.02,0.88...|[4.77368894309428...|         2|
|13.78|    14.06|     0.8759|             5.479|             3.156|                3.136|             4.872|[13.78,14.06,0.87...|[4.73588435103234...|         2|
|13.74|    14.05|     0.8744|             5.482|             3.114|                2.932|             4.825|[13.74,14.05,0.87...|[4.72213722664617...|         2|
|14.59|    14.28|     0.8993|             5.351|             3.333|                4.185| 4.781000000000001|[14.59,14.28,0.89...|[5.01426361985209...|         2|
|13.99|    13.83|     0.9183|             5.119|             3.383|                5.234| 4.781000000000001|[13.99,13.83,0.91...|[4.80805675405968...|         2|
|15.69|    14.75|     0.9058|             5.527|             3.514|                1.599|             5.046|[15.69,14.75,0.90...|[5.39230954047151...|         2|
| 14.7|    14.21|     0.9153|             5.205|             3.466|                1.767|             4.649|[14.7,14.21,0.915...|[5.05206821191403...|         2|
|12.72|    13.57|     0.8686|             5.226|             3.049|                4.102|             4.914|[12.72,13.57,0.86...|[4.37158555479908...|         0|
+-----+---------+-----------+------------------+------------------+---------------------+------------------+--------------------+--------------------+----------+
only showing top 20 rows